/* Common */
:root {
  --nv-secondary-accent: #0033EE !important;
  --nv-primary-accent: #0033EE !important;
}
.hide {
  display: none;
}
.hide-height {
  height: 0;
  overflow: hidden;
}
.show {
  visibility: visible;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #333333;
}
.iframe_cont {
  min-width: 320px;
  max-width: 75%;
  margin: 1rem auto 1.5rem;
}
.warning {
  font-size: 85%;
  color: red;
}
.outer_cont {
  width: 100%;
  height: 100%;
  padding: 10vh 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
html, body {
  overflow-anchor: auto;
  font-family: system-ui, sans-serif;
}
.site-logo {
  line-height: 1;
}
.main-content
button {
  background-color: #0033EE;
}
.container {
  position: relative;
  z-index: 10;
}
main {
  margin: 0 0 100px;
}
/* Common end */


/* Header Nav footer */
nav.inner-page {
  width: 100%;
  height: 64px;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 110;
  background-color: #FCFCFC;
}

nav.inner-page a {
  padding: .2rem .5rem;

  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;

}
/* Header Nav footer end */


/* Section */
section {
  min-height: 400px;
  padding: 1rem 0;
  position: relative;
  opacity: 0.84;
  background-color: #FFF;
}
section:nth-child(2n) {
  background-color: #FFF;
}
.life_is_sick #intro {
  text-align: center;
  position: relative;
}
.life_is_sick #intro .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.intro_title_cont {
  text-align: center;
}
#intro .intro__hed {
  margin: -1.8rem 0 0;
}
section.ending {
  min-height: 0;
}
.life_is_sick #bg-preface {
  min-height: 250px;
}
.life_is_sick :not(#bg-preface) .el-background-overlay {
  max-height: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50% 50%;
  opacity: 1;
  position: relative;
}
.life_is_sick #intro .el-background-overlay {
  max-height: 450px;
  height: 100vh;
  background-image: url("../img/bg-00-intro.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50% 50%;
  opacity: 1;
  position: absolute;
}
.life_is_sick #bg-01 .el-background-overlay {
  background-image: url("../img/bg-01-mon.jpg");
}
.life_is_sick #bg-02 .el-background-overlay {
  background-image: url("../img/bg-02-tue.jpg");
}
.life_is_sick #bg-03 .el-background-overlay {
  background-image: url("../img/bg-03-wed.jpg");
}
.life_is_sick #bg-04 .el-background-overlay {
  background-image: url("../img/bg-04-thu.jpg");
}
.life_is_sick #bg-05 .el-background-overlay {
  background-image: url("../img/bg-05-fri.jpg");
}
.life_is_sick #bg-06 .el-background-overlay {
  background-image: url("../img/bg-06-sat.jpg");
}
.life_is_sick #bg-07 .el-background-overlay {
  background-image: url("../img/bg-07-sun.jpg");
}
.chart-container {
  min-width: 320px;
  width: 60%;
  margin: 0 auto;
  position: relative;
}
/* Section end */

/* Calendar */
.option_cont {
  min-width: 320px;
  width: 60%;
  margin: 0 auto;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.d-flex label {
  flex-basis: 50%;
}

#heatmap {
  text-align: center;
}

.custom-0 {
  background-color: #c8d7e1 !important; /* #c8d7e1 */
}
.custom-1 {
  background-color: #a6c96a !important;
}
.custom-2 {
  background-color: #000000 !important; /* #5cb85c */
}
.custom-3 {
  background-color: #666666 !important; /* #00753a */
}
.custom-4 {
  background-color: #c8d7e1 !important; /* #c8d7e1 */
}

.placeshut_cont label {
  position: relative;
}
.placeshut_cont input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
.placeshut_cont input ~ div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.placeshut_cont input:checked ~ div {
  background-color: #5cb85c;
}
.plabel {
  padding: 0 1rem;
  display: block;
  position: relative;
  z-index: 10;
  text-align: left;
}

@media screen and (max-width: 750px) {
  .life_is_sick :not(#bg-preface) .el-background-overlay {
    height: calc((100vw - 30px) / 3 * 2);
    background-size: 98% auto !important;
  }
}

@media screen and (max-width: 500px) {
  .district_landing #intro .el-background-overlay,
  .life_is_sick :not(#bg-preface) .el-background-overlay {
    max-width: 100vw;
    max-height: 400px;
    width: 100%;
    background-size: 95% auto !important;
  }
  #heatmap {
    width: 800px;
    height: 100px;
    margin: 150px 0 0;
    transform: rotate(90deg);
    transform-origin: 100% 0;
    float: right;
  }
  .d-flex label {
    flex-basis: 100%;
  }
  .placeshut_cont {
    overflow: hidden;
  }
  #colorButton {
    min-width: 0;
    width: 55%;
    float: left;
  }
  .plabel {
    padding: 0;
  }
  .ch-month {
    transform: scale(1,-1);
  }
  .ch-month-label {
    transform: scale(-1,1) rotate(90deg);
  }
  .ch-week-labels {
    transform: scale(1,-1);
  }
  .ch-day-label {
    transform: scale(-1,1) rotate(90deg);
  }
}
#legend {
  text-align: center;
}
/* Calendar end */

/* header */
#header-grid {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  width: 100%;
}
header ~ main {
  padding-top: 80px;
}
/* header end */

/* producer */
.producer {
  font-size: 0.8rem;
  text-align: center;
  color: #666666;
}
/* producer end */

/* photo-gallery */
.photo-gallery {
  text-align: center;
}
/* photo-gallery end */

.calendar #banner .el-background-overlay {
  background-image: url("../img/closure-400.jpg");
}

#scrolly .flourish-embed {
  max-width: 700px;
  margin: 0 auto;
}